@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap);
@import url(https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff);
@import url(https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap);
@import url(https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff);
header {
  display: flex;
  background: #5f5f5f;
  width: 100%;
  column-gap: 1px;
}

.logo {
  background: url("/images/logo.jpg") no-repeat;
  width: 150;
  height: 150px;
  flex: left;
}

body {
  background: #b0b0b0;
  font-family: "Marven Pro", sans-serif;
  position: relative;
  padding-bottom: 3em;
  min-height: 100vh;
}

main {
  text-align: center;
  font-family: "Marven Pro", sans-serif;
  height: 100%;
  padding-bottom: 70px;
}

/* TITULO H1 */
h1 {
  color: #14213d;
  padding: 50px;
}

h2 {
  margin-block: 20px;
  margin-left: 23px;
  padding: 15px;
  color: #14213d;
}

/* estilo para los links */
a {
  text-decoration: none;
  text-align: 20px;
  color: #FCA311;
}

.parrafoH {
  margin: 50px;
  padding: 10px;
  color: #14213d;
}

.liCursos {
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  list-style-type: none;
}

/* CLASE PARA MENÚ */
.bullet {
  text-decoration: none;
  font-family: "Maven Pro";
  list-style-type: none;
  color: #FCA311;
}

/* clase para logo de contacto whatsapp */
.whatsapp {
  position: fixed;
  right: 1%;
  bottom: 2%;
}

/* FORMULARIO DE CONTACTO */
form {
  margin: auto;
  padding-top: 20px;
  align-items: center;
}

.bg-body-tertiary {
  background: #545454;
}

.nav-link {
  color: #FCA311;
  text-decoration: none;
  font-family: "Maven Pro";
}

.navbar-brand {
  color: #FCA311;
  text-decoration: none;
  font-family: "Maven Pro";
  text-shadow: #14213d;
  color: #14213d;
}

.form-check label {
  color: #14213d;
}

.formp {
  color: #14213d;
}

.formp a {
  color: #14213d;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #FCA311;
  --bs-btn-bg: #545454;
  --bs-btn-border-color: #545454;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-bg: {
      shade-color(10%)
  } 
}

.form-area {
  padding-top: 7%;
}

.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.left {
  background-image: url(../images/fondo.jpg);
  background-size:cover;
  padding: 200px 98px;
}

.left h2 {
  color: #14213d;
  font-weight: 700;
  font-size: 48px;
}

.left h2 span {
  font-weight: 100;
}

.single-form {
  background: #545454;
}

.right {
  padding: 70px 100px;
  position: relative;
}

.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}

.form-control {
  border: 2px solid #000;
}

.right button {
  border: none;
  border-radius: 0;
  background: #5f5f5f;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.right button:hover {
  background-color: #FCA311;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Maven Pro";
  color: #14213d;
  background: #545454;
}

.footer ul li {
  text-decoration: none;
  font-family: "Maven Pro";
  list-style-type: none;
  color: #14213d;
  margin-left: 10px;
}

.footer h2 {
  margin: 0px;
  padding: 5px;
  color: #14213d;
}

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.card {
  max-width: 319px;
  background: #5f5f5f;
}

.card-title {
  font-size: 30px;
  font-family: "Maven Pro";
  color: #14213d;
}

.card-text {
  font-size: 15px;
  font-family: "Maven Pro";
  color: #14213d;
}

/*# sourceMappingURL=estilos.css.map */
